<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>DYNAGE TECH PVT LTD</title>
    <!-- Stylesheets -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <!-- Responsive File -->
    <link href="~/Content/responsive.css" rel="stylesheet" />
    <link href="~/Content/custom-style.css" rel="stylesheet" />

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />

    <!-- Responsive Settings -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
    @Html.Partial("_Notification")
    @{
        Html.RenderPartial("_Header");
    }

    @RenderBody();
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader">
            <div class="icon"></div>
        </div>

        @{
            Html.RenderPartial("_Footer");
        }
    </div>
    <!--End pagewrapper-->
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/jquery.fancybox.js"></script>
    <script src="~/Scripts/owl.js"></script>
    <script src="~/Scripts/scrollbar.js"></script>
    <script src="~/Scripts/appear.js"></script>
    <script src="~/Scripts/wow.js"></script>
    <script src="~/Scripts/custom-script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
