<section class="section section-height-3 bg-color-transparent border-0 pb-0 m-0" style="background-image: url(img/demos/it-services/backgrounds/dots-background-3.png); background-repeat: no-repeat; background-position: 112% 100%;">
    <div class="container container-xl-custom mt-4">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-7 col-xl-5 ms-xl-0">
                <img src="~/Content/Theme/images/mission.jpg" class="img-fluid position-relative z-index-1 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1500" alt="Our Company" style="animation-delay: 1500ms;">
            </div>
            <div class="col-md-10 col-lg-5 mb-5 mb-lg-5 ms-xl-auto">
                <span class="d-block custom-text-color-grey-1 font-weight-bold mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
                    OUR MISSION
                </span>
                <h2 class="text-color-dark font-weight-bold text-8 line-height-2 negative-ls-1 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                    Join Us In Your Greatest Professional Mission
                </h2>
                <p class="custom-text-size-1 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">
                    Our mission is to deliver exceptional IT infrastructure services by leveraging our expertise and staying abreast of emerging technologies. We aim to build long-term relationships with our clients, offering personalized solutions and unparalleled customer service.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section section-height-3 bg-color-transparent border-0 pb-0 m-0" style="background-image: url(img/demos/it-services/backgrounds/dots-background-3.png); background-repeat: no-repeat; background-position: 112% 100%;">
    <div class="container container-xl-custom mt-4">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-7 col-xl-5 mb-5 mb-lg-0">
                <span class="d-block custom-text-color-grey-1 font-weight-bold mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
                    OUR VISION
                </span>
                <h2 class="text-color-dark font-weight-bold text-8 line-height-2 negative-ls-1 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                    Drives transformative growth for businesses in the digital age
                </h2>
                <p class="custom-text-size-1 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">
                    Our vision is to be a trusted and preferred partner for businesses seeking cutting-edge IT infrastructure solutions. We strive to empower organizations with advanced technology, helping them achieve operational efficiency, scalability, and competitive advantage.
                </p>
            </div>
            <div class="col-md-10 col-lg-5 ms-xl-auto">
                <img src="~/Content/Theme/images/vision.jpg" class="img-fluid position-relative z-index-1 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1500" alt="Our Company" style="animation-delay: 1500ms;">
            </div>
        </div>
    </div>
</section>
@{
    Html.RenderPartial("_HorizantalLine");
}
<div class="row col-md-12 text-center mb-5">
    <div class="overflow-hidden mb-2">
        <span class="d-block font-weight-bold custom-text-color-grey-1 line-height-1 mb-0 appear-animation animated maskUp appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="600" style="animation-delay: 600ms;">VALUES</span>
    </div>
    <div class="overflow-hidden">
        <h2 class="text-color-dark font-weight-bold text-center text-8 line-height-2 mb-0 appear-animation animated appear-animation-visible" data-appear-animation="maskUp" data-appear-animation-delay="500">World Class Solutions for your Business</h2>
    </div>
</div>
<div class="row pt-lg-4">
    <div class="col">
        <div class="process custom-process-style-1 d-flex w-100 flex-column flex-lg-row mb-5">
            <div class="process-step col-12 col-lg-2 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                <div class="process-step-circle">
                    <strong class="process-step-circle-content text-color-primary text-8">1</strong>
                </div>
                <div class="process-step-content px-1">
                    <h4 class="text-color-dark font-weight-bold text-4 line-height-1 mb-3">1. EXPERTISE</h4>
                    <p class="custom-font-secondary custom-text-size-1 px-3 mb-0" style="text-align:justify">We are a team of IT professionals with deep domain knowledge and a passion for staying ahead in the ever-evolving IT landscape</p>
                </div>
            </div>
            <div class="process-step col-12 col-lg-3 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">
                <div class="process-step-circle">
                    <strong class="process-step-circle-content text-color-primary text-8">2</strong>
                </div>
                <div class="process-step-content px-1">
                    <h4 class="text-color-dark font-weight-bold text-4 line-height-1 mb-3">2. INNOVATION</h4>
                    <p class="custom-font-secondary custom-text-size-1 px-3 mb-0" style="text-align:justify">We embrace innovation and continuously explore new technologies and methodologies to deliver inventive solutions to our clients.</p>
                </div>
            </div>
            <div class="process-step col-12 col-lg-2 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                <div class="process-step-circle">
                    <strong class="process-step-circle-content text-color-primary text-8">3</strong>
                </div>
                <div class="process-step-content px-1">
                    <h4 class="text-color-dark font-weight-bold text-4 line-height-1 mb-3">3. RELIABILITY</h4>
                    <p class="custom-font-secondary custom-text-size-1 px-3 mb-0" style="text-align:justify">We prioritize the reliability and stability of our services, ensuring that our clients' IT infrastructure operates seamlessly and efficiently.</p>
                </div>
            </div>
            <div class="process-step col-12 col-lg-3 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                <div class="process-step-circle">
                    <strong class="process-step-circle-content text-color-primary text-8">4</strong>
                </div>
                <div class="process-step-content px-1">
                    <h4 class="text-color-dark font-weight-bold text-4 line-height-1 mb-3">4. CUSTOMER FOCUS</h4>
                    <p class="custom-font-secondary custom-text-size-1 px-3 mb-0" style="text-align:justify">Our clients' success is at the core of our business. We strive to understand their unique needs and provide tailored solutions to help them achieve their goals.</p>
                </div>
            </div>
            <div class="process-step col-12 col-lg-2 mb-5 mb-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
                <div class="process-step-circle">
                    <strong class="process-step-circle-content text-color-primary text-8">5</strong>
                </div>
                <div class="process-step-content px-1">
                    <h4 class="text-color-dark font-weight-bold text-4 line-height-1 mb-3">5. INTEGRITY</h4>
                    <p class="custom-font-secondary custom-text-size-1 px-3 mb-0" style="text-align:justify">We conduct our business with the highest level of integrity, transparency, and ethical standards, fostering trust with our clients, partners, and stakeholders.</p>
                </div>
            </div>
        </div>
    </div>
</div>