<section class="section section-height-3 bg-color-transparent border-0 pb-0 m-0" style="background-image: url(img/demos/it-services/backgrounds/dots-background-3.png); background-repeat: no-repeat; background-position: 112% 100%;">
    <div class="container container-xl-custom mt-4">
        <div class="row justify-content-center justify-content-lg-start">
            <div class="col-lg-7 col-xl-5 mb-5 mb-lg-0">
                <span class="d-block custom-text-color-grey-1 font-weight-bold mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">
                    WHO WE ARE
                </span>
                <h2 class="text-color-dark font-weight-bold text-8 line-height-2 negative-ls-1 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">
                    Dynage Tech Pvt Ltd. Your partner in IT infrastructure
                </h2>
                <p class="custom-text-size-1 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">
                    At Dynage Tech Pvt Ltd, we understand that every business has unique needs when it comes to IT infrastructure. That's why we offer a wide range of services, from server installation and maintenance to network design and security.
                </p>
                <p class="custom-text-size-1 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200" >
                    Our team of experienced engineers and technicians have the expertise to design and implement IT solutions that are tailored to your business's specific requirements.
                </p>
                <p class="custom-text-size-1 mb-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1300" >
                    Whether you're a small startup or a large enterprise, Dynage Tech Pvt Ltd can help you to optimize your IT infrastructure and take your business to the next level. Contact us today to find out more.
                </p>
            </div>
            <div class="col-md-10 col-lg-5 ms-xl-auto">
                <img src="~/Content/Theme/images/aboutus-generic-1.jpg" class="img-fluid position-relative z-index-1 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1500" alt="Our Company" style="animation-delay: 1500ms;">
            </div>
        </div>
    </div>
</section>

