<section class="section section-height-4 custom-section-full-width custom-section-pull-top-1 bg-color-transparent border-0 position-relative z-index-1 pb-0 pb-xl-5 mb-0" style="background-image: url(img/demos/it-services/backgrounds/dots-background-1.png); background-repeat: no-repeat; background-position: top left;">
    <div class="container container-xl-custom mt-2 mb-xl-5">
        <div class="row">
            <div class="col-xl-7 pb-5 pb-xl-0 mb-5 mb-xl-0">
                <div class="custom-overlapping-cards">
                    <div class="card border-0 box-shadow-1 ps-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                        <img src="~/Content/Theme/images/generic-1.jpg" class="card-img-top rounded-0 img-fluid" alt="HARDWARE AND SOFTWARE">
                        <div class="card-body pt-4">
                            <h4 class="custom-heading-bar font-weight-bold text-color-dark text-4">HARDWARE AND SOFTWARE</h4>
                            <p class="custom-font-secondary text-3 mb-3">The physical devices used to support <strong class="text-color-dark">IT services</strong>, including servers, desktops, laptops, storage devices, routers, switches, and other networking equipment.</p>
                        </div>
                    </div>
                    <div class="card-transform">
                        <div class="card border-0 box-shadow-1 pe-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="500">
                            <img src="~/Content/Theme/images/generic-2.jpg" class="card-img-top rounded-0 img-fluid" alt="IT Support">
                            <div class="card-body pt-4">
                                <h4 class="custom-heading-bar custom-heading-bar-right font-weight-bold text-color-dark text-end text-4">NETWORK AND SECURITY</h4>
                                <p class="text-end custom-font-secondary text-3 ps-4 ms-3 mb-3">The communication pathways and protocols that connect devices and systems together, including local area networks (LANs), wide area networks (WANs), and the internet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <span class="d-block custom-text-color-grey-1 font-weight-bold mb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="700">WHO WE ARE</span>
                <h2 class="text-color-dark font-weight-bold text-8 line-height-2 negative-ls-1 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="900">We offer a wide range of services, from server installation and maintenance to network design and security</h2>
                <p class="custom-text-size-1 pb-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">In today's rapidly evolving digital landscape, businesses need reliable IT infrastructure to stay ahead of the curve. Introducing Dynage Tech Pvt Ltd, a company that specializes in providing cutting-edge IT solutions to help businesses thrive in the digital age.</p>
                <a href="/home/aboutus" class="d-flex align-items-center custom-link-effect-1 text-color-primary font-weight-bold text-decoration-none text-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1300">Find Out More <i class="custom-arrow-icon ms-2"></i></a>
            </div>
        </div>
    </div>
</section>
