<div class="container container-xl-custom">
    <div class="row">
        <div class="col">
            <div class="overflow-hidden mb-2">
                <span class="d-block font-weight-bold custom-text-color-grey-1 text-center line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">WHO ARE WITH US</span>
            </div>
            <div class="overflow-hidden mb-5">
                <h2 class="text-color-dark font-weight-bold text-center text-8 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="400">Our Amazing Clients</h2>
            </div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center pb-4 mb-5">
        <div class="col-md-4 col-xl-3 text-center mb-5 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="500">
            <img src="~/Content/Theme/images/logo-8.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md-4 col-xl-3 text-center mb-5 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="1000">
            <img src="~/Content/Theme/images/logo-9.png" class="img-fluid" alt="" style="max-width: 200px;" />
        </div>
        <div class="col-md-4 col-xl-3 text-center mb-5 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="900">
            <img src="~/Content/Theme/images/logo-10.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md-4 col-xl-3 text-center mb-5 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="600">
            <img src="~/Content/Theme/images/logo-11.png" class="img-fluid" alt="" style="max-width: 220px;" />
        </div>
        <div class="col-md-4 col-xl-3 text-center mb-5 mb-xl-0 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="1200">
            <img src="~/Content/Theme/images/logo-12.png" class="img-fluid" alt="" />
        </div>
        <div class="col-md-4 col-xl-3 text-center mb-5 mb-xl-0 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="500">
            <img src="~/Content/Theme/images/logo-13.png" class="img-fluid" alt="" style="max-width: 200px;" />
        </div>
        @*<div class="col-md-4 col-xl-3 text-center mb-5 mb-md-0 appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="800">
            <img src="~/Content/Theme/images/logo-14.png" class="img-fluid" alt="" style="max-width: 220px;" />
        </div>
        <div class="col-md-4 col-xl-3 text-center appear-animation" data-appear-animation="expandIn" data-appear-animation-delay="1100">
            <img src="~/Content/Theme/images/logo-15.png" class="img-fluid" alt="" style="max-width: 180px;" />
        </div>*@
    </div>
</div>
