<footer id="footer" class="bg-color-primary border-0 mt-0">
    <div class="container container-xl-custom pt-4 pb-3">
        <div class="row py-5">
            <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                <h4 class="ls-0">OUR ADDRESS</h4>
                <ul class="list list-unstyled">
                    <li class="mb-1">
                        Plot No 119,
                    </li>
                    <li class="mb-1">
                        Behind Durga Mandir,
                    </li>
                    <li class="mb-1">
                        New Sahakar Nagar,
                    </li>
                    <li class="mb-1">
                        Kharabi Road, Hanuman Nagar, Nagpur,
                    </li>
                    <li>
                        Maharashtra 440024
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                <h4 class="ls-0">OUR CONTACTS</h4>
                <ul class="list-unstyled">
                    <li class="pb-1 mb-2">
                        <span class="d-block line-height-2">SUPPORT</span>
                        <a href="tel:+919823093455" class="text-color-light text-6 text-lg-4 text-xl-6 font-weight-bold">98230 93455</a>
                    </li>
                    <li>
                        <span class="d-block line-height-2">SALES</span>
                        <a href="tel:+919823093455" class="text-color-light text-6 text-lg-4 text-xl-6 font-weight-bold">98230 93455</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 mb-4 mb-lg-0">
                <h4 class="ls-0">USEFUL LINKS</h4>
                <ul class="list-unstyled">
                    <li class="mb-1">
                        <a href="/">Home</a>
                    </li>
                    <li class="mb-1">
                        <a href="/home/aboutus">About Us</a>
                    </li>
                    <li class="mb-1">
                        <a href="/home/contactus">Contact Us</a>
                    </li>
                    <li>
                        <a href="/home/services">Our Services</a>
                    </li>
                </ul>
            </div>
            @*<div class="col-md-4 col-lg-2 mb-4 mb-md-0">
            <h4 class="ls-0">OUR SERVICES</h4>
            <ul class="list-unstyled">
                <li class="mb-1">
                    <a href="https://www.okler.net/previews/porto/9.9.2/demo-it-services-services-detail.html">Cloud Services</a>
                </li>
                <li class="mb-1">
                    <a href="https://www.okler.net/previews/porto/9.9.2/demo-it-services-services-detail.html">Tech Support</a>
                </li>
                <li class="mb-1">
                    <a href="https://www.okler.net/previews/porto/9.9.2/demo-it-services-services-detail.html">Data Security</a>
                </li>
                <li>
                    <a href="https://www.okler.net/previews/porto/9.9.2/demo-it-services-services-detail.html">Software Dev</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4 col-lg-2 mb-4 mb-md-0">
            <h4 class="ls-0">ABOUT</h4>
            <ul class="list-unstyled">
                <li class="mb-1">
                    <a href="/home/aboutus">About Us</a>
                </li>
                <li>
                    <a href="/home/contactus">Send a Message</a>
                </li>
            </ul>
        </div>*@
            <div class="col-md-4 col-lg-3">
                <h4 class="ls-0">SOCIAL MEDIA</h4>
                <ul class="social-icons social-icons-clean custom-social-icons-icon-light">
                    <li>
                        <a href="https://www.instagram.com/"><img height="20" width="20" src="~/Content/Theme/images/instagram.png"></img></a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/"><img height="20" width="20" src="~/Content/Theme/images/twitter.png"></img></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/"><img height="20" width="20" src="~/Content/Theme/images/facebook.png"></img></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright bg-color-primary">
        <div class="container container-xl-custom pb-4">
            <div class="row">
                <div class="col">
                    <hr class="my-0 bg-color-light opacity-2">
                </div>
            </div>
            <div class="row py-4 mt-2">
                <div class="col-lg-12 text-center text-lg-end">
                    <p class="text-3 mb-0">Dynage Tech Pvt Ltd © 2023. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
