 <!-- Main Footer -->
<footer class="main-footer" id="contact">
    <div class="top-pattern-layer-dark"></div>

    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="auto-containers px-3">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-xl-3 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-widget about-widget">
                        <div class="logo">
                            <a href="#"><img src="images/logo-horizontal.png" alt="Footer Logo" /></a>
                        </div>
                        <div class="info">
                            <ul>
                                <li>Head Office: 203, Abhinav Arcade, Next to Kalyan Jewellers, Abhyankar Nagar, Nagpur, India</li>
                                <li>Call us <a href="tel:(+91)- 98230-93455"><strong>(+91)- 98230-93455</strong></a></li>
                                <li>Br Office: 227, Heta Road, Merillands, New Plymouth, New Zealand 4312</li>
                                <li>Call us <a href="tel:(+91)- 98230-93455"><strong>(+64) 22-3848198</strong></a></li>
                                <li><a href="mailto:info@dynagetech.com">info@dynagetech.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-xl-9 col-lg-12 col-md-12 col-sm-12">
                    <div class="footer-widget links-widget">
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="widget-title">
                                        <h4>Location</h4>
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.675014779191!2d79.056346174717!3d21.125518884449217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c07eaa3ff347%3A0x45d1fc0c42c9756!2sAbhinav%20Arcade!5e0!3m2!1sen!2sin!4v1729737903531!5m2!1sen!2sin"
                                            width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"
                                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                                <div class="col-lg-2 col-md-12 col-sm-12">
                                    <div class="row clearfix">
                                        <div class="column col-lg-12 col-md-12 col-sm-12">
                                            <div class="widget-title">
                                                <h4>Quick Links</h4>
                                            </div>
                                            <ul class="navigation clearfix links">
                                                <li class="current dropdown">
                                                    <a href="#home" class="text-black">Home</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#about" class="text-black">About Us</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#services" class="text-black">Solutions</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#testimonials" class="text-black">Testimonials</a>
                                                </li>
                                                <li class="dropdown">
                                                    <a href="#contact" class="text-black">Contact</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column col-lg-4 col-md-12 col-sm-12">
                                    <div class="widget-title">
                                        <h4>Get In Touch</h4>
                                    </div>
                                    <!--Newsletter-->
                                    <div class="newsletter-form">
                                        <form method="post" action="contact.html">
                                            <div class="form-group clearfix">
                                                <input type="email" name="email" value="" placeholder="Email address" required />
                                                <button type="submit" class="theme-btn newsletter-btn">
                                                    <span class="icon fa fa-paper-plane"></span>
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="social-links">
                                        <div class="title text">
                                            Get the latest news & updates
                                        </div>
                                        <ul class="clearfix">
                                            <li>
                                                <a href="#">
                                                    <span class="fab fa-facebook-square">
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#"><span class="fab fa-twitter"></span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span class="fab fa-instagram"></span></a>
                                            </li>
                                            <li>
                                                <a href="#"><span class="fab fa-youtube"></span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="inner">
                <div class="copyright">
                    &copy;@System.DateTime.Now.Year <strong>DYNAGE TECH PVT. LTD.</strong> | All rights
                    reserved.
                </div>
            </div>
        </div>
    </div>
</footer>