@{
    string isHomeActive = string.Equals(ViewBag.Active, "home", StringComparison.InvariantCultureIgnoreCase) ? "nav-link active current-page-active" : "nav-link";
    string isAboutUsActive = string.Equals(ViewBag.Active, "aboutus", StringComparison.InvariantCultureIgnoreCase) ? "nav-link active current-page-active" : "nav-link";
    string isServicesActive = string.Equals(ViewBag.Active, "services", StringComparison.InvariantCultureIgnoreCase) ? "nav-link active current-page-active" : "nav-link";
    string isContactUsActive = string.Equals(ViewBag.Active, "contactus", StringComparison.InvariantCultureIgnoreCase) ? "nav-link active current-page-active" : "nav-link";
}
<!-- Main Header -->
<header class="main-header header-style-one" id="#header">
    <!-- Header Top -->
    <div class="header-top header-top-one"></div>

    <!-- Header Upper -->
    <div class="header-upper">
        <div class="auto-containers px-3">
            <div class="inner-container clearfix">
                <!--Logo-->
                <div class="logo-box">
                    <div class="logo">
                        <a href="#" title="DYNAGE TECH">
                            <img src="images/logo-horizontal.png" alt="DYNAGE"
                                 title="DYNAGE TECH" />
                        </a>
                    </div>
                </div>
                <div class="right-nav clearfix">
                    <div class="nav-outer clearfix">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler">
                            <span class="icon flaticon-menu-1 text-white"></span>
                        </div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown">
                                        <a href="#home" class="text-white">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#about" class="text-white">About Us</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#services" class="text-white">Solutions</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#testimonials" class="text-white">Testimonials</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#contact" class="text-white">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Header Upper-->
    <!-- Sticky Header  -->
    <div class="sticky-header">
        <div class="align-items-center d-flex justify-content-between px-3 w-100">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="#" title=""><img src="images/logo-horizontal.png" alt="Logo" title="DYNAGE TECH" /></a>
            </div>
            <!--Right Col-->
            <div class="pull-right">
                <!-- Main Menu -->
                <nav class="main-menu clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav>
                <!-- Main Menu End-->
            </div>
        </div>
    </div>
    <!-- End Sticky Menu -->
    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn">
            <span class="icon flaticon-targeting-cross"></span>
        </div>

        <nav class="menu-box">
            <div class="nav-logo">
                <a href="index.html"><img src="images/nav-logo.png" alt="" title="" /></a>
            </div>
            <div class="menu-outer">
                <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            </div>
            <!--Social Links-->
            <div class="social-links">
                <ul class="clearfix">
                    <li>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-facebook-square"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                    </li>
                    <li>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->
</header>
<!-- End Main Header -->
