<section id="services" class="section custom-section-full-width bg-color-transparent border-0 mt-0 mb-1" style="background-image: url(img/demos/it-services/backgrounds/dots-background-2.png); background-repeat: no-repeat; background-position: bottom right;">
    <div class="container container-xl-custom pb-5 mb-5">
        <div class="row">
            <div class="col">
                <div class="overflow-hidden mb-2">
                    <span class="d-block font-weight-bold custom-text-color-grey-1 text-center line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">OUR SERVICES</span>
                </div>
                <div class="overflow-hidden mb-5">
                    <h2 class="text-color-dark font-weight-bold text-center text-8 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="500">IT Infrastructure Components Dynage Covers</h2>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="650">
                @*<img src="~/Content/Theme/images/backup-data-server.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-primary pb-2 mb-4&#39;}">*@
                <h4 class="text-color-primary font-weight-bold text-6 mb-3">Cloud Services</h4>
                <p class="custom-text-size-1 px-lg-4">The use of remote servers hosted on the internet to store, manage, and process data, providing on-demand access to computing resources and scalable IT services.</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center mt-lg-5 mb-5 mb-lg-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="850">
                @*<img src="./Demo IT Services _ Porto - Multipurpose Website Template_files/remove-monitor-access.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-dark pb-2 mb-4&#39;}">*@
                <h4 class="text-color-dark font-weight-bold text-6 mb-3">Data centers</h4>
                <p class="custom-text-size-1 px-lg-4">The facilities that house servers, storage devices, and networking equipment, typically with redundant power, cooling, and security systems to ensure high availability.</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center mb-5 mb-md-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1050">
                @*<img src="./Demo IT Services _ Porto - Multipurpose Website Template_files/password-lock-secure.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-primary pb-2 mb-4&#39;}">*@
                <h4 class="text-color-primary font-weight-bold text-6 mb-3">Data Security</h4>
                <p class="custom-text-size-1 px-lg-4">The measures taken to protect IT infrastructure and data from unauthorized access, theft, or damage, including firewalls, antivirus software, encryption, and user access controls.</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center mt-lg-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1250">
                @*<img src="./Demo IT Services _ Porto - Multipurpose Website Template_files/floppy-disk-memory.svg" class="img-fluid" width="100" alt="" data-icon="" data-plugin-options="{&#39;onlySVG&#39;: true, &#39;extraClass&#39;: &#39;svg-fill-color-dark pb-2 mb-4&#39;}">*@
                <h4 class="text-color-dark font-weight-bold text-6 mb-3">Software Developement</h4>
                <p class="custom-text-size-1 px-lg-4">The programs and applications used to manage and support IT services, including operating systems, databases, productivity software, and specialized business applications.</p>
            </div>
        </div>
    </div>
</section>
