@{
    Html.RenderPartial("_Header");
}
<div role="main" class="main">
    @{
        Html.RenderPartial("_AboutUsIntro");
    }
    @{
        Html.RenderPartial("_AboutOrg");
    }
    @{
        Html.RenderPartial("_AboutUsDetails");
    }
    @{
        Html.RenderPartial("_HorizantalLine");
    }
    @{
        Html.RenderPartial("_Clients");
    }
</div>
@{
    Html.RenderPartial("_Footer");
}
