@{
    Html.RenderPartial("_Header");
}
<div role="main" class="main">
    @{
        Html.RenderPartial("_Intro");
    }
    @{
        Html.RenderPartial("_BriefDescription");
    }
    @{
        Html.RenderPartial("_HorizantalLine");
    }
    @{
        Html.RenderPartial("_Services");
    }
    @{
        Html.RenderPartial("_ContactUs");
    }
</div>
@{
    Html.RenderPartial("_Footer");
}