@{
    Html.RenderPartial("_Header");
}
<div role="main" class="main">
    <section class="page-header page-header-modern custom-page-header-style-1 bg-color-primary page-header-lg mb-0">
        <div class="container container-xl-custom py-5">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-extra-bold text-14 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">OUR SERVICES</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end breadcrumb-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                        <li><a href="#">Home</a></li>
                        <li class="active">Our Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="section bg-color-transparent border-0 mt-0 mb-1" style="background-image: url(img/demos/it-services/backgrounds/dots-background-3.png); background-repeat: no-repeat; background-position: top right;">
        <div class="container container-xl-custom pt-3 mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="overflow-hidden mb-2">
                        <span class="d-block font-weight-bold custom-text-color-grey-1 line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="600">OUR EXPERTISE</span>
                    </div>
                    <div class="overflow-hidden mb-4"  style="max-height: 450px !important;">
                        <h2 class="text-color-dark font-weight-bold text-8 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">Delivers Effective Infrastructure Solutions for Businesses</h2>
                    </div>
                    <p class="custom-text-size-1 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">Infrastructure business solutions play a critical role in ensuring that an organization's IT infrastructure is efficient, secure, and aligned with its business goals.</p>
                </div>
            </div>
            <div class="row row-gutter-sm justify-content-center pb-5 mb-5">
                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="card border-0 custom-box-shadow-1"  style="height: 450px !important;">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/floppy-disk-memory.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">IT Infrastructure Management</h4>
                            <p class="custom-text-size-1" >We specialize in managing and maintaining robust IT infrastructure, ensuring seamless operations and optimal performance. From network design and implementation to server management and security solutions, we provide end-to-end infrastructure services tailored to our client's requirements.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                    <div class="card border-0 custom-box-shadow-1"  style="height: 450px !important;">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/password-lock-secure.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Network Security</h4>
                            <p class="custom-text-size-1">With the increasing threat landscape, we prioritize the security of our clients' digital assets. Our network security services encompass firewall management, intrusion detection, vulnerability assessments, and security audits to safeguard against cyber threats and ensure data integrity.</p>
                        </div>
                    </div>
                </div>
                <div style="max-height: 450px !important;" class="col-md-6 col-xl-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                    <div class="card border-0 custom-box-shadow-1" style="height: 450px !important;">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/backup-data-server.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Cloud Solutions</h4>
                            <p class="custom-text-size-1">
                                Our cloud services empower businesses to leverage the benefits of cloud computing. We offer cloud strategy consulting, migration services, and ongoing management, enabling organizations to enhance scalability, agility, and cost-efficiency.
                            </p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-xl-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/remove-monitor-access.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">IT Consulting</h4>
                            <p class="custom-text-size-1">Our team of experienced consultants assists businesses in making informed technology decisions. We provide strategic guidance, technology roadmaps, and IT audits to align IT investments with business goals and maximize returns.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/network-database.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">IT Support</h4>
                            <p class="custom-text-size-1"> We offer reliable and responsive IT support services to address technical issues promptly. Our dedicated support team ensures minimal downtime and smooth operations, enabling clients to focus on core business activities.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @{
        Html.RenderPartial("_ContactUs");
    }
</div>
@{
    Html.RenderPartial("_Footer");
}
