@{
    Html.RenderPartial("_Header");
}
<div role="main" class="main">
    <section class="page-header page-header-modern custom-page-header-style-1 bg-color-primary page-header-lg mb-0">
        <div class="container container-xl-custom py-5">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="font-weight-extra-bold text-14 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">OUR SERVICES</h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center">
                    <ul class="breadcrumb d-block text-md-end breadcrumb-light appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="400">
                        <li><a href="#">Home</a></li>
                        <li class="active">Our Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="services" class="section bg-color-transparent border-0 mt-0 mb-1" style="background-image: url(img/demos/it-services/backgrounds/dots-background-3.png); background-repeat: no-repeat; background-position: top right;">
        <div class="container container-xl-custom pt-3 mt-4">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <div class="overflow-hidden mb-2">
                        <span class="d-block font-weight-bold custom-text-color-grey-1 line-height-1 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="600">OUR EXPERTISE</span>
                    </div>
                    <div class="overflow-hidden mb-4">
                        <h2 class="text-color-dark font-weight-bold text-8 line-height-2 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">Delivers Effective Infrastructure Solutions for Businesses</h2>
                    </div>
                    <p class="custom-text-size-1 mb-5 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1000">Infrastructure business solutions play a critical role in ensuring that an organization's IT infrastructure is efficient, secure, and aligned with its business goals.</p>
                </div>
            </div>
            <div class="row row-gutter-sm justify-content-center pb-5 mb-5">
                <div class="col-md-6 col-xl-4 mb-4 mb-xl-0 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/floppy-disk-memory.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Server Services</h4>
                            <p class="custom-text-size-1">This includes services that support the organization's servers, such as server design and implementation, server monitoring and maintenance, and server security.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/password-lock-secure.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Network Services</h4>
                            <p class="custom-text-size-1">This includes services that support the organization's network, such as network design and implementation, network monitoring and maintenance, and network security.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/backup-data-server.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Cloud Services</h4>
                            <p class="custom-text-size-1">This includes services that support the organization's use of cloud computing, such as cloud design and implementation, cloud monitoring and maintenance, and cloud security.</p>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-xl-4 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/remove-monitor-access.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Application Services</h4>
                            <p class="custom-text-size-1">This includes services that support the organization's applications, such as application design and application development, application maintenance and support, and application integration.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <div class="card border-0 custom-box-shadow-1">
                        <div class="card-body text-center p-5 my-3">
                            <img src="img/demos/it-services/icons/network-database.svg" class="img-fluid" width="100" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary pb-1 mb-4'}" />
                            <h4 class="text-color-primary font-weight-bold text-6 mb-3">Security Services</h4>
                            <p class="custom-text-size-1">This includes services that support the organization's security infrastructure, such as security design and implementation, security monitoring and maintenance, and security testing and assessment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @{
        Html.RenderPartial("_ContactUs");
    }
</div>
@{
    Html.RenderPartial("_Footer");
}
